@media screen and (min-width: 768px) {
    .nav__list {
        display: flex;
    }
    .nav__item {
        margin-bottom: 0;
        margin-left: 2rem;
    }
    .menu_toggle_btn {
        display: none;
    }
    .nav_item.search_btn, .nav_item.cart_btn {
        display: none;
    }
}