.body_layout {
    display: grid;
    grid-template-columns: 100%;
    align-items: center;
    padding-left: 0.5rem;
    padding-right: 0.5rem;
}

header {
    width: 100%;
    position: fixed;
    left: 0;
    top: 0;
}

.nav {
    height: 5rem;
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.nav_inside {
    width: 75%;
    display: flex;
    align-items: center;
}

.nav__icon {
    font-size: 1.5rem;
    color: var(--color-text);
    text-transform: capitalize;
}

.nav__menu {
    margin-left: 4.5rem;
}

.menu_toggle_btn {
    background-color: transparent;
    color: white;
}

.nav__item {
    margin-bottom: 2rem;
}

.nav__link {
    color: var(--color-text);
    text-transform: capitalize;
    font-size: 2rem;
}

.nav__link:hover {
    border-bottom: 0.1rem solid var(--color-text);
}

.search_btn, .cart_btn {
    width: 4rem;
    height: 4rem;
    border-radius: 5rem;
    background-color: var(--tertiary-color);
}

.search_btn {
    margin-right: 2rem;
    color: var(--primary-color);
}

.search_btn i, .cart_btn i {
    font-size: 2rem;
    font-weight: 600;
}

.cart_btn i {
    color: var(--secondary-color);
}