.overlay {
    position: absolute;
    top: 0;
    left: 0;
    bottom: 0;
    right: 0;
    height: 100%;
    z-index: 55;
}

.first {
    background-color: var(--primary-color);
}

.second {
    left: 33.3%;
    background-color: var(--color-text);
}

.third {
    left: 66.6%;
    background-color: var(--secondary-color);
}
