.product_img{
    width: 90rem;
    max-width: 100%;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    z-index: -10;
    filter: drop-shadow(25px 0px 4px var(--color-shadow));
    animation: move 4s ease-in-out infinite;
}

@keyframes move {
    0% {
        transform: translate(-50%, -49%);
    }
    50% {
        transform: translate(-50%, -51%);
    }
    100% {
        transform: translate(-50%, -49%);
    }
}

.product_text {
    position: absolute;
    width: 100%;
    top: 50%;
    left: 65%;
    transform: translate(-50%, -50%);
    text-align: center;
    filter: drop-shadow(0.2rem 0 0.01rem var(--color-text));
    z-index: -10;
}

.product_title {
    font-size: 5rem;
    text-transform: capitalize;
    color: var(--tertiary-color);
    z-index: -10;
}

.product_type { 
    font-size: 2rem;
    font-weight: 600;
    color: var(--tertiary-color);
    z-index: -10;
    text-transform: uppercase;
}