.social {
    position: absolute;
    left: -3%;
    top: 50%;
    transform: rotate(-90deg);
    filter: drop-shadow(25px 50px 3px var(--color-shadow));
}

.social ul li {
    display: inline-block;
    font-weight: 500;
    font-size: 2rem;
    cursor: pointer;
}

.social ul li i {
    font-size: 3rem;
    color: var(--tertiary-color);
}

.social ul li:nth-child(1)::after {
    content: "/";
    position: absolute;
    left: 70%;
    color: rgba(238, 238, 238, 0.726);
}

.social ul li:nth-child(2)::after {
    content: "/";
    position: absolute;
    left: 25%;
    color: rgba(238, 238, 238, 0.726);
}

.social ul li:not(:last-child) {
    padding-right: 5rem;
}